<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.prohance.jamocha.access.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.prohance.jamocha.access.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Employee</servlet-name>
    <servlet-class>com.prohance.jamocha.register.Employee_Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Employee</servlet-name>
    <url-pattern>/employeeRegServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Department</servlet-name>
    <servlet-class>com.prohance.jamocha.register.Department_Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Department</servlet-name>
    <url-pattern>/departmentRegServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Employee_Data</servlet-name>
    <servlet-class>com.prohance.jamocha.details.Employee_Details</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Employee_Data</servlet-name>
    <url-pattern>/employee_data</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Department_Data</servlet-name>
    <servlet-class>com.prohance.jamocha.details.Department_Details</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Department_Data</servlet-name>
    <url-pattern>/department_data</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Employee_Data_Edit</servlet-name>
    <servlet-class>com.prohance.jamocha.register.Employee_Data_Edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Employee_Data_Edit</servlet-name>
    <url-pattern>/employeeEditServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>Department_Data_Edit</servlet-name>
    <servlet-class>com.prohance.jamocha.register.Department_Data_Edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Department_Data_Edit</servlet-name>
    <url-pattern>/departmentEditServlet</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
</web-app>